/*-------------------------------*/
/*MTM6130 CONTACT FORM ASSIGNMENT*/
/*-------------------------------*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------*/
/* PORTFOLIO WEBSITE BY WILFRED TURCOTTE */
/*MARCH 27TH 2019*/

/* grid-template-columns: repeat(5, 1fr);*/
h1 {
    font-size: 2.5rem;
    font-family: montserrat, sans-serif;
}

h2 {
    font-size: 2.25rem;
    font-family: montserrat, sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: montserrat, sans-serif;
}

p {
    font-size: 1rem;
    font-family: roboto;
}

a {
    font-family: montserrat, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

body {
    width: 100%;
    line-height: 1.5;
}

wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, auto);
}

.top {
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: #30302C;

    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat(3, auto);
}

.top .logo {
    grid-column: 1/7;
    grid-row: 1/2;
    margin: auto;
}

.logo img {
    width: 200px;
}

.nav {
    grid-column: 1/7;
    grid-row: 2/3;
    display: flex;
    justify-content: space-around;
}

.nav li a {
    color: white;
}

.subnav a{
    display: none;
    width: 110px;
    margin: auto;
     font-size: 0.85rem!important;
   

}

.nav .portfolio:hover .subnav a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.part2 {
    grid-column: 1/7;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 90%;
    margin:80px auto auto auto;
}

.page_title {
    grid-column: 1/6;
    grid-row: 1/2;
    color: white;
    background-color: #59D47D;
text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile {
    grid-column: 5/6;
    grid-row: 2/3;
    width: 20vw;
    margin: auto;
}
.profile_ {
    grid-column: 5/6;
    grid-row: 2/3;
    width: 20vw;
    margin: auto;
}

.part2 p:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/3;
    align-items: center;
  justify-content: center;
    margin: 0 auto 0 auto;
    max-width:400px;
}



.social {
    grid-column: 3/5;
    grid-row: 5/6;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
.social li:hover{
    opacity:0.75;
    transform:scale(1.15);
 
}

.social li a img {
    width: 50px;
}

/*PORTFOLIO STYLE*/
.portfolio {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.child_large {
    grid-column: 2/3;
    grid-row: 1/2;
    color:red;
}
.child1 {
       grid-column: 1/2;
    grid-row: 1/2;
}
.child2 {
       grid-column: 1/2;
    grid-row: 2/3;
}
.child3 {
       grid-column: 2/3;
    grid-row: 2/3;
}
.child4 {
       grid-column: 1/2;
    grid-row: 3/4;
}
.child5 {
       grid-column: 2/2;
    grid-row: 1/2;
}

.work_highlights{
    grid-column: 2/6;
    grid-row: 6/7;
    
    display: grid;
    width: 90%;
    margin: 50px auto 100px auto;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat(3, auto);
}


.work_highlights h2 {
    grid-column: 1/7;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-content: center;
    margin:auto;
    color: white;
    background-color: #59D47D;
     width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.description{
    grid-column: 1/6;
    grid-row: 2/3;
    display: block;
   width:70%;
    margin:0 auto 50px auto;
    
}

.section_tiles{
    display: grid;
    
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin:auto;
    
}

.dev_design{
    grid-column: 1/2;
    grid-row:1/2;
    width:35vw;
}
.graphic_design{
    grid-column: 2/3;
    grid-row:1/2;
    width:35vw;
}
.photography{
    grid-column: 1/2;
    grid-row:2/3;
    width:35vw;
}
.videography{
    grid-column: 2/3;
    grid-row:2/3;
    width:35vw;
}

.work_example{
    grid-column: 1/6;
    grid-row: 5/6;
    margin:auto;
    display: flex;
    justify-content: space-between;
}


.work_example ul{   
    grid-column: 1/1;
    grid-row: 5/6;
    display: flex;
}

.work_example ul li img{
    width:200px;
}

.work_example p{
    height:100px;
    text-align: center;
}
footer {
    grid-column: 1/7;
    grid-row: 7/8;
    
    font-size:1rem;
    display:grid;
    width: 100%;
    margin:auto;
    padding-top:20px;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: repeat(3, auto);
    
    background-color:#30302C;
}
footer a{
    font-size:1rem;
    color:white;
}
.ft-social{
    grid-column: 1/6;
    grid-row: 1/2;
}
.ftsubnav a{
    font-size:0.75rem;
}
.ft-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    padding-left:100px;
    padding-right:100px;

}
.ft-social li:hover{
    opacity:0.75;
    transform:scale(1.15);
 
}
.ft-social li a img{
    width:60px;
}
.ftnav {   
    grid-column: 2/4;
    grid-row: 3/4;
     display: flex;
    flex-direction: row;
    width:50%;
    justify-content: space-around;
    margin:25px 
}
.ftcontact{
     grid-column: 4/6;
     grid-row: 3/4;
    display: flex;
    flex-direction: column;
    width:50%;
    justify-content: space-around;
    align-content: center;
    margin:25px;
    color:white;
}
.ftcontact img{
    padding-right:5px;
}

}